<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div style="text-align:center">
      <h3>I'm in the Appcomponent!</h3>
      <hr />
      <input type="text" [(ngModel)]="name">
      <p>
        {{ name }}
      </p>
    </div>
    <div>
      <app-servers></app-servers>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <app-warning-alert2></app-warning-alert2>
    </div>

    <app-excercise2></app-excercise2>

  </div>
  <div>
    <app-excercise3></app-excercise3>
  </div>
</div>
