<div>
  <button
    class="btn btn-primary"
    (click)="toggleParagraph()"
  >Display Details
  </button>
  <p *ngIf="showParagraph">
    Secret Password = tuna
  </p>
  <h4>Button clicks</h4>
  <ul>
    <li *ngFor="let count of buttonCount; let i = index">
      <p *ngIf="count < 5; else coloredP">
        {{ count }} {{ i }}
      </p>
      <ng-template #coloredP>
        <p
        [ngStyle]="{'backgroundColor': 'blue'}"
        [ngClass]="'color'"
        >
        {{ count }} {{ i }}
      </p>
      </ng-template>
    </li>
  </ul>
</div>
